<h1><%= @reaction.emoji %></h1>
<%= link_to "edit #{ @reaction.emoji }", edit_reaction_path(@reaction) %>
<%= form_for @reaction, method: :delete do |f| %>
  <%= f.submit "delete #{ @reaction.emoji }" %>
<% end %>