<ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="vegetable[name]" value="<%= @vegetable.name %>" />
    </li>
    <li>
      <label for="emoji">Emoji</label>
      <input id="emoji" type="text" name="vegetable[emoji]" value="<%= @vegetable.emoji %>" />
    </li>
  </ul>

  <input type="submit" value="update" />