
<h1>Create Vegetable</h1>
<form method="POST" action="/vegetables">

  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
    </li>
    <li>
      <label for="emoji">Emoji</label>
      <input id="emoji" type="text" name="emoji" />
    </li>
  </ul>

  <input type="submit" />

</form>