body {
  font-size: 1rem;
  font-family: 'Roboto';
}

#container {
  width: 800px;
  display: grid;
  background-color: orange;
  grid-template-columns: 0.375fr auto;
}

#character-list {
  background-color: pink;
  font-size: 1.5rem;
}

#character-detail {

}
